<div class="site">
  <div class="warning text-center">
    <i class="fa-solid fa-gears me-2"></i><strong>¡Atención!</strong> Se ha migrado de servidor y base de datos por lo que <strong>las solicitudes pueden relentizarse</strong> en ocasiones. 
  </div>
  <app-navbar></app-navbar>
  <div class="base d-flex justify-content-center">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>

<style>
  .warning{
    background-color: rgb(60, 138, 86);
    color: white;
    padding: 5px;
  }
</style>