footer {
    width: 90%;
    margin: auto;
    color: #ffffff7d;
    position: fixed;
    z-index: 10;
    bottom: -15px;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    backdrop-filter: blur(4px);
}


.icon{
    color: rgb(254, 85, 70);
}


.navLink{
    text-decoration: none;
    color: #ffffffad;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.2s ease; /* Para transiciones suaves */
}

.navLink:hover{
    color: #ffffff;
}