

nav{
    width: 90%;
    margin: auto;
    color: #ffffff7d;
    padding: 17px 0px;

    .logo{
        color: rgb(255, 255, 255);
    }
    p{
        margin: 0;
    }

}

.primaryButton{
    background-color: rgba(255, 255, 255, 0.045);
    border: 1px solid rgba(255, 255, 255, 0.119);
    border-radius: 5px;
    padding: 7px 14px;
    height: 275px;
    text-decoration: none;
    color: #ffffffb7;;
}