<div class="navHolder">
    <nav class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <h1 class="logo">Shortly.</h1>
            <a href="https://www.pablolopezlujan.es" target="_blank" aria-label="Enlace a mi portfolio" class="left navLink ms-4">Portafolio</a>
            <a href="https://www.linkedin.com/in/pablolopezdeveloper/" target="_blank" aria-label="Enlace a mi Linkedin" class=" left navLink ms-3">Linkedin</a>
        </div>
        <div>
            <!--  Cambiar tema y lenguaje
            <a aria-label="Botón de cambio de lenguaje" role="button"  class="navLink ms-2"><i class="fa-solid fa-moon"></i></a>
            <a aria-label="Botón de cambio de lenguaje" role="button" class="navLink ms-3 me-3">ES</a>
            -->
            
            <a href="https://github.com/pablolop12" target="_blank" aria-label="Enlace a mi GitHub" class="primaryButton ms-2"><i class="bi bi-github me-2"></i>Github</a>
        </div>
    </nav>  
</div>